nav {
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;
}

div#navbar {
    padding: 0;
    zoom: 2.1;
}

section {
    zoom: 1.27;
}

.right-side {
    display: none;
    zoom: 1.5;
}

.\32 {
    justify-content: center;
}

.left-side {
    padding: 0;
    zoom: 1.5;
    margin-left: 1.8vw;
}

nav img {
    zoom: 3;
}